.footerDiv{
  color: rgba(0,0,0,0);
  background-color: rgb(255, 255, 255);
  
  /* This is just so it scales the same as the header */
  font-size: 1.2vw;
  @media (min-width: 1200px) {
    font-size: .45vw;
  }
  @media (max-width: 600px) {
    font-size: 2vw;
  }
  background-color: hsl(228, 20%, 90%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  
  
  border: 2px solid  hsl(228, 20%, 90%) ;
  border-bottom: 2px solid  hsl(228, 20%, 90%) ;
  border-top: none;
  
  
  
}

.dayDiv, .dayDivSat, .dayDivSun{
  /* Default: font size adjusts with viewport width */
  font-size: 1.2vw;

  /* On larger screens (e.g., width greater than 1200px), reduce the font size */
  @media (min-width: 1200px) {
    font-size: .45vw;
  }

  /* On smaller screens (e.g., width less than 600px), increase the font size */
  @media (max-width: 600px) {
    font-size: 2vw;
  }
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  
  
  
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.dayDivSun{
  border-bottom-left-radius: 20px;
  border-left: none;
}

.dayDivSat{
  border-bottom-right-radius: 20px;
  border-right: none;
}