<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /account/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /account/index.html [L]
</IfModule>
