.bodyDiv {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 140px 290px 140px 140px;
  width: 1200px;
  max-width: 85%;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}

/* tiles */

.calendarDiv,
.financeDiv,
.requestDiv,
.bylawsDiv,
.messagesDiv,
.adminDiv,
.accountDiv {
  transition: 0.25s;
  border-radius: 20px;
}

.calendarDiv:hover,
.requestDiv:hover,
.bylawsDiv:hover,
.accountDiv:hover,
.messagesDiv:hover {
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
  cursor: pointer;
  border-radius: 10px;
}

.requestDiv:active,
.bylawsDiv:active,
.accountDiv:active,
.messagesDiv:active {
  transform: scale(0.98);
}

.calendarDiv {
  grid-column: span 2;
  grid-row: span 3;
  background-color: rgba(0, 180, 255, 0.25);
}
.calendarDiv:hover {
  background-color: rgba(0, 180, 255, 0.35);
}

.calendarDiv:active {
  transform: scale(0.99);
}

.financeDiv {
  grid-row: 4 / 6;
  border: 2px solid rgba(39, 163, 76, 0.25);
  background-color: rgba(39, 163, 76, 0.05);
}

.requestDiv {
  background-color: rgba(247, 190, 39, 0.25);
}
.requestDiv:hover {
  background-color: rgba(247, 190, 39, 0.35);
}

.bylawsDiv {
  background-color: rgba(255, 123, 0, 0.25);
}
.bylawsDiv:hover {
  background-color: rgba(255, 123, 0, 0.35);
}

.messagesDiv {
  background-color: rgba(138, 100, 226, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.messagesDiv:hover {
  background-color: rgba(138, 100, 226, 0.35);
}

.adminDiv {
  border: 2px solid rgba(255, 0, 0, 0.25);
  background-color: rgba(255, 0, 0, 0.05);
  grid-column: 3 / 4;
  grid-row: 4 / 6;
  overflow: hidden;
}
.adminDiv:hover {
}

/* calendar */
.headerDiv {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  align-items: center;
}

h2,
h3 {
  margin: 0px;
  font-weight: normal;
}

.calendarPictureDiv {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
}

.calendarPicture {
  transition: 0.5s;
  width: 100%;
}

.calendarDiv:hover .calendarPicture {
  transition: 0.5s;
  transform: scale(1.05);
}

.financeContainerDiv {
  height: 392.5px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.financeItemDiv {
  height: 30%;
  background-color: rgba(39, 163, 76, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 40px;
  transition: 0.25s;
  border-left: none;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.financeItemDiv:hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(39, 163, 76, 0.3);
  cursor: pointer;

  box-shadow: -2px 0px 0px 0px rgba(39, 163, 76, 0.2);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.financeItemDiv:active {
  transform: scale(0.98);
  transform-origin: left;
}

.financeItemTitleDiv {
  width: 50%;
  font-size: large;
  display: flex;
  align-items: center;
}

.ContainerDiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminItemDiv {
  display: flex;
  height: 17%;
  background-color: rgba(255, 0, 0, 0.2);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.25s;
  justify-content: space-between;
  align-items: center;
}

.adminItemDiv:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;

  box-shadow:
    2px 0px 0px 0px rgba(255, 0, 0, 0.2),
    0px 2px 5px 1px rgb(195, 196, 200);
}

.adminItemDiv:active {
  transform: scale(0.99);
  transform-origin: right;
}
.messagesItem1Div,
.messagesItem2Div {
  background-color: rgba(138, 100, 226, 0.2);

  margin-left: 40px;
  transition: 0.25s;
  border-left: none;
  display: flex;
  padding-left: 20px;
}
.messagesItem1Div {
  height: 40%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
}

.messagesItem2Div {
  height: 60%;
  margin-top: 20px;
  border-top-left-radius: 20px;
}

.messagesItem1Div:hover,
.messagesItem2Div:hover {
  background-color: rgba(138, 100, 226, 0.3);
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.messagesItem1Div:hover {
  border-bottom-left-radius: 10px;
}

.messagesItem2Div:hover {
  border-top-left-radius: 10px;
}

.messagesItem1Div:active {
  transform: scale(0.99);
  transform-origin: top right;
}
.messagesItem2Div:active {
  transform: scale(0.99);
  transform-origin: bottom right;
}
.accountContainerDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.accountDiv {
  width: 50%;
  background-color: rgb(224, 226, 238);
}

.accountDiv:hover {
  background-color: white;
}

img {
  height: 100%;
}

.messagePictureDiv {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}

.messagesDiv:hover .calendarPicture {
  transition: 0.5s;
  transform: scale(1.05);
}
