.bodyDiv {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 140px 140px;
  width: 1200px;
  max-width: 85%;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}

/* tiles */

.calendarDiv,
.financeDiv,
.requestDiv,
.bylawsDiv,
.adminDiv {
  transition: 0.25s;
  border-radius: 15px;
}

.calendarDiv:hover,
.financeDiv:hover,
.requestDiv:hover,
.bylawsDiv:hover,
.adminDiv:hover {
  transition: 0.25s;
  border-radius: 15px;
}

.calendarDiv {
  grid-column: span 2;
  background-color: rgba(0, 180, 255, 0.25);
}
.calendarDiv:hover {
  background-color: rgba(0, 180, 255, 0.3);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.financeDiv {
  height: 100%;
  background-color: rgba(39, 163, 76, 0.25);
}
.financeDiv:hover {
  background-color: rgba(39, 163, 76, 0.3);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.requestDiv {
  background-color: rgba(247, 190, 39, 0.25);
  grid-column: 1;
}
.requestDiv:hover {
  background-color: rgba(247, 190, 39, 0.3);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.bylawsDiv {
  background-color: rgba(255, 123, 0, 0.25);
  grid-column: 1;
}
.bylawsDiv:hover {
  background-color: rgba(255, 123, 0, 0.3);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.adminDiv {
  background-color: rgba(255, 0, 0, 0.25);
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.adminDiv:hover {
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

/* calendar */
.headerDiv {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h2,
h3 {
  margin: 0px;
  font-weight: normal;
}

.calendarPictureDiv {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.calendarPicture {
  width: 100px;
}

.financeContainerDiv {
  height: 392.5px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.financeItemDiv {
  height: 120px;
  background-color: rgba(39, 163, 76, 0.25);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 40px;
  transition: 0.25s;
}

.financeItemDiv:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(39, 163, 76, 0.35);
  cursor: pointer;
}

.financeItemDiv:active {
  transform: scale(0.98);
  transform-origin: right;
}

.financeItemTitleDiv {
  width: 50%;
  padding: 20px;
  font-size: large;
}

.adminContainerDiv {
  height: 222.5px;
  display: flex;
  flex-direction: row;
}

.adminItemRightDiv {
  height: 30%;
  background-color: rgba(255, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.25s;
}

.adminItemLeftDiv {
  height: 30%;
  background-color: rgba(255, 0, 0, 0.25);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
  transition: 0.25s;
}

.adminItemRightDiv:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 0, 0, 0.35);
  cursor: pointer;
}

.adminItemRightDiv:active {
  transform: scale(0.98);
  transform-origin: right;
}

.adminItemTitleDiv {
  width: 50%;
  padding: 20px;
  font-size: large;
}

.adminSplitDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
