.bodyDiv {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
/*160px 350px 290px; */
.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 220px 290px 290px;
  width: 1200px;
  max-width: 85%;
  gap: 15px;
  padding: 10px;
  border-radius: 20px;
}

/* tiles */

.calendarDiv,
.financeDiv,
.miscDiv,
.bylawsDiv,
.messagesDiv,
.adminDiv,
.accountDiv {
  transition: 0.25s;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  padding: 20px;
}

.calendarDiv {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #f0f8ff;
  border: 2px solid #d0eeff;
}

.financeDiv {
  background-color: #ebf5ec;
  border: 2px solid #bfe1c4;
}
.financeDiv:hover {
  background-color: #ebf5ec;
}

.miscDiv {
  background-color: #fff8e1;
  border: 2px solid #ffe9b3;
}

.bylawsDiv {
  background-color: #fff0e0;
  border: 2px solid #ffdab5;
}
.bylawsDiv:hover {
  background-color: #ffdab5;
}
.bylawsDiv:active {
  transform: scale(0.98);
}

.messagesDiv {
  background-color: #f3f0ff;
  border: 2px solid #e0daff;
  justify-content: space-between;
  overflow: hidden;
}

.adminDiv {
  background-color: #ffeded;
  border: 2px solid #fec8c8;
  overflow: hidden;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.accountDiv {
  background-color: hsl(220, 23%, 96.5%);
  border: 2px solid rgb(224, 226, 238);
}

/* calendar */

.headerDiv {
  margin-bottom: 20px;
  height: 30px;
}
.headerDiv2 {
  padding: 20px;
  margin-bottom: 10px;
  height: 30px;
  border: 2px solid rgb(224, 226, 238);

  border-radius: 20px;
}

h2,
h3 {
  margin: 0px;
  font-weight: normal;
}

.calendarImageDiv {
  border-radius: 15px;
  overflow: hidden;
  height: calc(100% - 50px - 4px);
  border: 2px solid #d0eeff;
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
  position: relative;
}

.calendarHeaderDiv {
  padding: 20px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 2px 5px 1px rgba(195, 196, 200, 0.5);
  background-color: hsl(202, 100%, 94%);
  border: 2px solid #d0eeff;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 15px;
  pointer-events: none;

  transition: 0.5s;
  display: flex;
  align-items: center;
}
.calendarImageDiv:active {
  transition: 0.25s;
  transform: scale(0.99);
}

.calendarImage {
  transition: 0.25s;
  width: 100%;
}

.calendarImage:hover {
  transform: scale(1.025);
}

.calendarImageDiv:hover .calendarHeaderDiv {
  background-color: #d0eeff;
  transition: 0.5s;
  border-bottom-right-radius: 10px;
  box-shadow: none;
}

.financeItemDiv,
.miscItemDiv,
.adminItemDiv,
.messagesItemDiv,
.accountItemDiv {
  border-radius: 15px;
  transition: 0.25s;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 2px 5px 1px rgb(195, 196, 200);
}

.messagesItemDiv {
  height: 45%;
  background-color: #e7e1ff;
  border: 2px solid #e0daff;
}

.messagesItemDiv:hover {
  background-color: #e0daff;
  border-radius: 10px;
}

.messagesItemDiv:active {
  transform: scale(0.98);
}

.accountItemDiv {
  background-color: hsl(220, 23%, 93%);
  height: 45%;
}

.accountItemDiv:hover {
  background-color: rgb(224, 226, 238);
  border-radius: 10px;
}

.accountItemDiv:active {
  transform: scale(0.98);
}

.financeItemDiv {
  height: 27%;
  background-color: #d1ead3;
  border: 2px solid #bfe1c4;
}

.miscItemDiv {
  height: 45%;
  background-color: #fff1c1;
  border: 2px solid #ffe9b3;
}

.miscItemDiv:hover {
  background-color: hsl(43, 100%, 86%);
  border-radius: 10px;
}

.miscItemDiv:active {
  transform: scale(0.98);
}

.adminItemDiv {
  height: 14%;
  background-color: #ffd3d3;
  border: 2px solid #fec8c8;
}

.financeItemDiv:hover {
  border-radius: 10px;
  background-color: #bfe1c4;
}

.financeItemDiv:active {
  transform: scale(0.985);
}

.ContainerDiv {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminItemDiv:hover {
  border-radius: 10px;
  background-color: #fec8c8;
}

.adminItemDiv:active {
  transform: scale(0.99);
}

.accountContainerDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

img {
  height: 100%;
}

.adminAuthDiv {
  background-color: rgba(255, 211, 211, 0.5);
  border: 2px solid #ffbaba;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;

  grid-column: 3 / 4;
  grid-row: 3 / 4;
  overflow: hidden;
}

.authHeaderDiv {
  text-align: right;
  padding: 20px;

  background-color: rgb(255, 211, 211);
  border-radius: 20px;
}

.calendarImageDiv {
  box-shadow: 0px 2px 3px 1px rgba(160, 200, 255, 0.6);
}

.calendarHeaderDiv {
  box-shadow: 0px 2px 3px 1px rgba(160, 200, 255, 0.5);
}

.financeItemDiv {
  box-shadow: 0px 2px 3px 1px rgba(140, 190, 150, 0.6);
}

.miscItemDiv {
  box-shadow: 0px 2px 3px 1px rgba(255, 216, 100, 0.6);
}

.adminItemDiv {
  box-shadow: 0px 2px 3px 1px rgba(255, 145, 145, 0.6);
}

.messagesItemDiv {
  box-shadow: 0px 2px 3px 1px rgba(180, 160, 255, 0.6);
}

.accountItemDiv {
  box-shadow: 0px 2px 3px 1px rgba(160, 165, 200, 0.6);
  background-color: hsl(220, 23%, 93%);
}
.miscDiv {
  background-color: #fff2e0;
  border-color: #ffcc99;
}

.miscItemDiv {
  background-color: #fee5bf;
  border-color: #ffcc99;
  box-shadow: 0px 2px 3px 1px rgba(255, 180, 80, 0.4);
}

.miscItemDiv:hover {
  background-color: #ffe0b1;
  border-radius: 10px;
}

.miscItemDiv:active {
  transform: scale(0.98);
}
