
.calendarDiv{
  background-color: hsl(0, 0%, 100%);
  display: grid;
  
  grid-template-columns: repeat(7, 1fr);
  border-right: 1px solid hsl(228, 20%, 90%);
  border-left: 1px solid hsl(228, 20%, 90%);
  
  
}

.dayDiv{
  /* Default: font size adjusts with viewport width */
  font-size: 1.5vw;

  /* On larger screens (e.g., width greater than 1200px), reduce the font size */
  @media (min-width: 1200px) {
    font-size: .7vw;
  }

  /* On smaller screens (e.g., width less than 600px), increase the font size */
  @media (max-width: 600px) {
    font-size: 2vw;
  }
  background-color: rgb(255, 255, 255);
  
  
  
  
  display: flex;
  justify-content: center; 
  align-items: center; 
}