.taskCreatorDiv {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0.5px rgb(225, 226, 230);
  margin: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 25px 25px 25px 25px;
  gap: 10px;
}

.descriptionInput {
  grid-column: 3;
  grid-row: 1 / span 4;
  font-family: Arial;
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #eff1f5;
}

.descriptionInput:focus {
  outline: none;
  transition: 0.25s;
}

.titleInput {
  grid-column: 1 / span 2;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
}

.titleInput:focus {
  border-bottom: 2px solid rgba(0, 180, 255, 1);
}

.timeDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.meridiem {
  border-width: 0px;
  border-bottom: 2px solid #eff1f5;
}

.meridiem:focus {
  outline: none;
}
.hourInput,
.minuteInput {
  min-width: 0;
}
.hourInput {
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
  border-bottom-left-radius: 2px;
}

.minuteInput {
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
}

.minuteInput:focus,
.hourInput:focus {
  transition: 0.25s;
  outline: none;
  border-color: rgba(0, 180, 255, 1);
}

.timeDiv,
.colorSelect,
.typeDiv {
  border: none;
  border-radius: 5px;
  background-color: #eff1f5;
  overflow: hidden;
}

.minuteInput,
.hourInput,
.meridiem {
  background-color: #eff1f5;
}
.meridiem .colorSelect:focus {
  outline: none;
}

.colorSelect {
  color: black;
}

.typeContainerDiv {
  grid-column: 1 / span 2;
  display: flex;
  gap: 10px;
}

.typeDiv {
  font-size: 13px;
  text-align: center;
  align-content: center;
  border: none;
  width: 50%;
}

.typeDiv:hover {
  cursor: pointer;
  background-color: #d0eeff;
}

@media (max-width: 500px) {
  .signupDiv {
    font-size: 10px;
  }
}

.createButton {
  background-color: rgb(255, 255, 255);

  border: 2px solid rgb(225, 226, 231);

  border-radius: 5px;

  transition:
    background-color 0.4s,
    border-color 0.4s;
}

.createButton:hover {
  background-color: hsl(229, 22%, 90%);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.createButton:active {
  padding: 3px;
}

.plus {
  height: 90%;
}
