.taskCreatorDiv {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0.5px rgb(225, 226, 230);
  margin: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 25px 25px 45px;
  gap: 10px;
}

.descriptionInput {
  grid-column: 3 / 5;
  grid-row: 1 / 5;
  font-family: Arial;
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #eff1f5;
}

.descriptionInput:focus {
  outline: none;
  transition: 0.25s;
}

.titleInput {
  grid-column: 1 / span 2;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
}

.titleInput:focus {
  border-bottom: 2px solid rgba(0, 180, 255, 1);
}

.timeDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.meridiem {
  border-width: 0px;
  border-bottom: 2px solid #eff1f5;
}

.meridiem:focus {
  outline: none;
}
.hourInput,
.minuteInput {
  min-width: 0;
}
.hourInput {
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
  border-bottom-left-radius: 2px;
}

.minuteInput {
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 180, 255, 0.5);
}

.minuteInput:focus,
.hourInput:focus {
  transition: 0.25s;
  outline: none;
  border-color: rgba(0, 180, 255, 1);
}

.timeDiv,
.colorSelect {
  border: none;
  border-radius: 5px;
  background-color: #eff1f5;
  overflow: hidden;
  outline: none;
}

.minuteInput,
.hourInput,
.meridiem {
  background-color: #eff1f5;
}
.meridiem .colorSelect:focus {
  outline: none;
}

.colorSelect {
  color: black;
}

.typeDiv:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .signupDiv {
    font-size: 10px;
  }
}

.createButton {
  background-color: #d0eeff;
  border: none;
  grid-column: 4;
  border-radius: 5px;
  transition: 0.4s;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-radius: 20px;
  padding: 0px 10px;
}

.createButton:hover {
  background-color: rgba(0, 180, 255, 0.5);
  cursor: pointer;
}

.plus {
  height: 50%;
}

.typeContainerDiv {
  grid-column: 1 / span 2;
  display: flex;
  gap: 10px;
  position: relative;
}

.typeSlideOverDiv {
  position: absolute;
  width: calc(50% - 5px);
  height: 100%;
  background-color: #d0eeff;
  z-index: 0;
  transition: left 0.3s ease;
  border-radius: 5px;
}

.typeDiv {
  display: flex;
  width: 50%;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
