.taskCardDiv {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0.5px rgb(225, 226, 230);
  margin: 10px;
}

.adminBarDiv {
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.taskGridDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 25px 25px;
  gap: 10px;
}

.selectButton {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
}

.selectButton:active {
  transform: scale(0.97);
  transition: 0.25s;
}

.selectButton {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(239, 241, 245);
  border-radius: 5px;
  transition:
    background-color 0.4s,
    border-color 0.4s;
}

.selectButton:hover {
  background-color: rgba(0, 204, 61, 0.7);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.plus {
  height: 60%;
}

.XFat {
  height: 70%;
}

.trashButton:hover,
.unSelectButton:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.trash {
  height: 100%;
}

.trashButton,
.editButton {
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 2px;
  transition: 0.25s;
}

.trashButton:active,
.editButton:active {
  transform: scale(0.9);
}
.editButton {
  padding: 4px;
}
.editButton:hover {
  background-color: rgb(208, 238, 255);
  cursor: pointer;
}

.eventTitleDiv {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title,
.time,
.description,
.owner {
  margin: 0px 0px;
  padding: 5px 10px;
  border-radius: 5px;
}

.description {
  background-color: rgb(239, 241, 245);
}

.taskContentDiv {
  display: grid;
  grid-template-columns: 60% calc(40% - 10px);
  gap: 10px;
}

.signupDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.owner {
  text-align: center;
  background-color: rgb(239, 241, 245);
}
