@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.navLinks a,
.sideMenu a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.headerDiv {
  background-color: #265555;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
}

.headerDivFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s cubic-bezier(0.93, 0.02, 0.67, 0.81);
  padding: 0px 15px;
  width: 1110px;
}

@media (max-width: 1200px) {
  .headerDivFlex {
    width: 930px;
  }
}
@media (max-width: 990px) {
  .headerDivFlex {
    width: 690px;
  }
}
@media (max-width: 767px) {
  .headerDivFlex {
    width: 510px;
    padding: 0px;
  }
}

.headerLogo {
  height: 30px;
  padding: 8px 0px;
  margin-right: 16px;
}

.navLinks {
  display: flex;
  gap: 5px;
  margin: 0px;
}

.navLinks a,
.sideMenu a {
  display: flex;
  align-items: center;
  padding: 8px 11.2px;
  height: 26px;
  border-radius: 0px;
  transition: 0.25s;
}

.navLinks a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

/* Social Icons */
.socials {
  display: flex;
  gap: 1rem;
}

.socials img {
  height: 20px;
}

/* Burger Button (hidden desktop) */
.burgerButton {
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Side Menu */
.sideMenu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #406869;
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  transition: right 0.4s cubic-bezier(0.93, 0.02, 0.67, 0.81);
  z-index: 1001;
}

.sideMenu a {
  margin: 5px 16px 0px;
}

.sideMenu a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.showMenu {
  right: 0;
}

@media (max-width: 990px) {
  .navLinks {
    display: none;
  }

  .socials {
    display: none;
  }

  .burgerButton {
    display: block;
  }
}
